.password-container {
    position: flex;
 }

 .password-container input[type="password"] {
    padding-right: 100px;
 }

 .password-container .toggle-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #999;
 }